VITE_SUPABASE_URL=https://ovkyojyflylhjzufvakm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92a3lvanlmbHlsaGp6dWZ2YWttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4ODE5OTUsImV4cCI6MjA3NDQ1Nzk5NX0.hrRTYmtkcvJ_bfvIkSgCHtE97yD20LXzK1e7lIr_68o